In [ ]:
import pandas as pd

In [ ]:
# lendo um arquivo csv 
df = pd.read_csv('sample_data/movies.csv',
                 delimiter=',')

df.head(5)

In [ ]:
df.describe()

In [ ]:
df.shape

(77, 8)

#Utilizando Apply para aplicar funções em Data Frames

In [ ]:
def verifica_aprovacao(a):
  if(a >= 75):
    return 'muito bom'
  elif(a >= 50 ):
    return 'mediano';
  else:
    return 'ruim'

In [ ]:
def verifica_ano_filme(a):
  if(a >= 2020):
    return 'novo'
  elif(a >= 2010):
    return 'mais ou menos novo'
  else:
    return 'antigo'

In [ ]:
df['aprovacao do publico'] = df['Rotten Tomatoes %'].apply(verifica_aprovacao)

In [ ]:
df['analise da idade'] = df['Year'].apply(verifica_ano_filme)

In [ ]:
df.head(10)

In [ ]:
df.to_csv('sample_data/movies_novo.csv', encoding='UTF-8', sep=',')

#Apagando uma coluna

In [ ]:
del df['Year']

In [ ]:
df

Concat

In [ ]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])

In [ ]:
s1

In [ ]:
s2

In [ ]:
# preservando os indices
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object

In [ ]:
# ignorando os indices
pd.concat([s1, s2], ignore_index=True)

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
# juntando dois dataframes
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                   columns=['letra', 'numero'])
df2 = pd.DataFrame([['c', 3], ['d', 4]],
                   columns=['letra', 'numero'])

In [ ]:
df1

  letra  numero
0     a       1
1     b       2

In [ ]:
df2

  letra  numero
0     c       3
1     d       4

In [ ]:
df3 = pd.DataFrame([['e', 5, 'gato'], 
                    ['f', 6, 'cachorro']],
                   columns=['letra', 'numero', 'animal'])
df3

  letra  numero    animal
0     e       5      gato
1     f       6  cachorro

In [ ]:
pd.concat([df1, df2])

In [ ]:
# juntando os três e resetando o index
pd.concat([df1, df2, df3], ignore_index=True)

  letra  numero    animal
0     a       1       NaN
1     b       2       NaN
2     c       3       NaN
3     d       4       NaN
4     e       5      gato
5     f       6  cachorro

#Merge

In [ ]:
# unindo dois dataframes
df_animal1 = pd.DataFrame([['gato', 4], 
                           ['cachorro', 4], 
                           ['pato', 2]],
                          columns=['animal', 'patas'])
df_animal2 = pd.DataFrame([['gato', 'mamífero'], 
                           ['cachorro', 'mamífero'], 
                           ['pato', 'ave'],
                           ['cavalo', 'mamífero']],
                          columns=['animal', 'tipo'])

In [ ]:
df_animal1

     animal  patas
0      gato      4
1  cachorro      4
2      pato      2

In [ ]:
df_animal2

     animal      tipo
0      gato  mamífero
1  cachorro  mamífero
2      pato       ave
3    cavalo  mamífero

In [ ]:
# especificando as colunas da união
df_animal1.merge(df_animal2, left_on='animal', right_on='animal')

     animal  patas      tipo
0      gato      4  mamífero
1  cachorro      4  mamífero
2      pato      2       ave

In [ ]:
# unindo os dados com chave semelhante
df_animal1.merge(df_animal2, how='inner', on='animal')

     animal  patas      tipo
0      gato      4  mamífero
1  cachorro      4  mamífero
2      pato      2       ave

In [ ]:
# adicionando mais uma linha na tabela 1
df_animal3 = pd.DataFrame([['cavalo', 4], 
                           ['ganso', 2]],
                          columns=['animal', 'patas'])
df_animal3

   animal  patas
0  cavalo      4
1   ganso      2

In [ ]:
# juntando os novos dados 
df_animal1 = pd.concat([df_animal1, df_animal3], ignore_index=True)
df_animal1

     animal  patas
0      gato      4
1  cachorro      4
2      pato      2
3    cavalo      4
4     ganso      2

In [ ]:
df_animal2

     animal      tipo
0      gato  mamífero
1  cachorro  mamífero
2      pato       ave
3    cavalo  mamífero

In [ ]:
# unindo os dados com chave semelhante
df_animal1.merge(df_animal2, how='inner', on='animal')

     animal  patas      tipo
0      gato      4  mamífero
1  cachorro      4  mamífero
2      pato      2       ave
3    cavalo      4  mamífero

In [ ]:
# unindo os dados com chave semelhante, modificando a forma da união
df_animal1.merge(df_animal2, how='left', on='animal')

     animal  patas      tipo
0      gato      4  mamífero
1  cachorro      4  mamífero
2      pato      2       ave
3    cavalo      4  mamífero
4     ganso      2       NaN

#Pivot

In [ ]:
# alterando a exibição de linhas para colunas
df_letra_numero = pd.DataFrame({'abc': ['abc','abc','abc','abc','abc','abc'],
                                'letras': ['A', 'B', 'C', 'D', 'E', 'F'],
                                'numeros': [1, 2, 3, 4, 5, 6]})
df_letra_numero

   abc letras  numeros
0  abc      A        1
1  abc      B        2
2  abc      C        3
3  abc      D        4
4  abc      E        5
5  abc      F        6

In [ ]:
# transformando linhas em colunas
df_letra_numero.pivot(index='abc', columns='letras', values='numeros')

letras  A  B  C  D  E  F
abc
abc     1  2  3  4  5  6

In [ ]:
# alterando a exibição de linhas para colunas
df_vendas = pd.DataFrame({'mes': ['01-jan','02-fev','02-fev','04-abr','04-abr','05-mai'],
                          'produto': ['celular', 'celular', 'notebook', 'notebook', 'mouse', 'celular'],
                          'quantidade': [10, 25, 33, 14, 5, 16]})
df_vendas

      mes   produto  quantidade
0  01-jan   celular          10
1  02-fev   celular          25
2  02-fev  notebook          33
3  04-abr  notebook          14
4  04-abr     mouse           5
5  05-mai   celular          16

In [ ]:
df_vendas.pivot(index='produto', columns='mes', values='quantidade')

mes       01-jan  02-fev  04-abr  05-mai
produto
celular     10.0    25.0     NaN    16.0
mouse        NaN     NaN     5.0     NaN
notebook     NaN    33.0    14.0     NaN

#Melt

In [ ]:
# alterando a exibição de colunas para linhas
df_temperatura = pd.DataFrame([[20,21,24,26,22,19], 
                               [29,33,34,36,29,25]],
                              columns=['jan', 'fev', 'mar', 'abr', 'mai', 'jun'],
                              index=['min', 'max'])
df_temperatura

In [ ]:
# transformando colunas em linhas
df_temperatura.melt(value_vars=['jan', 'fev', 'mar', 'abr', 'mai', 'jun'])

In [ ]:
# transformando colunas em linhas, incluindo index
df_temperatura.melt(value_vars=['jan', 'fev', 'mar', 'abr', 'mai', 'jun'], ignore_index=False)

In [ ]:
# transformando colunas em linhas, incluindo index no dataframe
df_temperatura.melt(value_vars=['jan', 'fev', 'mar', 'abr', 'mai', 'jun'], ignore_index=False).reset_index()

In [ ]:
# transformando colunas em linhas, ajustando colunas do dataframe
df_temperatura\
  .melt(value_vars=['jan', 'fev', 'mar', 'abr', 'mai', 'jun'], 
        ignore_index=False)\
  .reset_index()\
  .rename(columns={'index':'min/max','variable':'mes','value':'temperatura'})

### Estudo de Caso

Com um conjunto de dados, como incluir uma nova observação, realizar merge com outra tabela contendo informações extras a respeito dessa observação?
*   https://www.kaggle.com/datasets/sveta151/tiktok-popular-songs-2022
*   https://www.kaggle.com/datasets/sveta151/tiktok-popular-songs-2021

In [ ]:
tt21 = pd.read_csv('sample_data/TikTok_songs_2021.csv')
tt21.head()

,track_name,artist_name,artist_pop,album,track_pop,danceability,energy,loudness,mode,key,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,duration_ms
0,STAY (with Justin Bieber),The Kid LAROI,83,STAY (with Justin Bieber),89,0.591,0.764,-5.484,1,1,0.0483,0.0383,0.000000,0.1030,0.478,169.928,4,141806
1,Peaches (feat. Daniel Caesar & Giveon),Justin Bieber,90,Justice,86,0.677,0.696,-6.181,1,0,0.1190,0.3210,0.000000,0.4200,0.464,90.030,4,198082
2,edamame (feat. Rich Brian),bbno$,72,edamame (feat. Rich Brian),77,0.815,0.848,-4.704,0,4,0.1150,0.0230,0.000162,0.0265,0.684,106.032,4,133707
3,Here's Your Perfect,Jamie Miller,65,Here's Your Perfect,77,0.558,0.454,-5.335,1,6,0.0551,0.4990,0.000000,0.1460,0.424,113.120,4,158594
4,It's You,Sezairi,57,It's You,73,0.630,0.456,-8.285,1,8,0.0317,0.5450,0.000000,0.1140,0.166,137.915,3,251440

In [ ]:
tt21['year'] = 2021
tt21.head()

,track_name,artist_name,artist_pop,album,track_pop,danceability,energy,loudness,mode,key,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,duration_ms,year
0,STAY (with Justin Bieber),The Kid LAROI,83,STAY (with Justin Bieber),89,0.591,0.764,-5.484,1,1,0.0483,0.0383,0.000000,0.1030,0.478,169.928,4,141806,2021
1,Peaches (feat. Daniel Caesar & Giveon),Justin Bieber,90,Justice,86,0.677,0.696,-6.181,1,0,0.1190,0.3210,0.000000,0.4200,0.464,90.030,4,198082,2021
2,edamame (feat. Rich Brian),bbno$,72,edamame (feat. Rich Brian),77,0.815,0.848,-4.704,0,4,0.1150,0.0230,0.000162,0.0265,0.684,106.032,4,133707,2021
3,Here's Your Perfect,Jamie Miller,65,Here's Your Perfect,77,0.558,0.454,-5.335,1,6,0.0551,0.4990,0.000000,0.1460,0.424,113.120,4,158594,2021
4,It's You,Sezairi,57,It's You,73,0.630,0.456,-8.285,1,8,0.0317,0.5450,0.000000,0.1140,0.166,137.915,3,251440,2021

In [ ]:
tt21 = tt21[['track_name', 'artist_name', 'year']]
tt21.head()

                               track_name    artist_name  year
0               STAY (with Justin Bieber)  The Kid LAROI  2021
1  Peaches (feat. Daniel Caesar & Giveon)  Justin Bieber  2021
2              edamame (feat. Rich Brian)          bbno$  2021
3                     Here's Your Perfect   Jamie Miller  2021
4                                It's You        Sezairi  2021

In [ ]:
tt22 = pd.read_csv('sample_data/TikTok_songs_2022.csv')
tt22.head()

,track_name,artist_name,artist_pop,album,track_pop,danceability,energy,loudness,mode,key,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,duration_ms
0,Running Up That Hill (A Deal With God),Kate Bush,81,Hounds Of Love,95,0.629,0.547,-13.123,0,10,0.0550,0.7200,0.003140,0.0604,0.197,108.375,4,298933
1,As It Was,Harry Styles,91,As It Was,96,0.520,0.731,-5.338,0,6,0.0557,0.3420,0.001010,0.3110,0.662,173.930,4,167303
2,Sunroof,Nicky Youre,73,Sunroof,44,0.768,0.716,-5.110,1,10,0.0404,0.3500,0.000000,0.1500,0.841,131.430,4,163026
3,Heat Waves,Glass Animals,80,Dreamland (+ Bonus Levels),89,0.761,0.525,-6.900,1,11,0.0944,0.4400,0.000007,0.0921,0.531,80.870,4,238805
4,About Damn Time,Lizzo,81,About Damn Time,92,0.836,0.743,-6.305,0,10,0.0656,0.0995,0.000000,0.3350,0.722,108.966,4,191822

In [ ]:
tt22['year'] = 2022
tt22

,track_name,artist_name,artist_pop,album,track_pop,danceability,energy,loudness,mode,key,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,duration_ms,year
0,Running Up That Hill (A Deal With God),Kate Bush,81,Hounds Of Love,95,0.629,0.547,-13.123,0,10,0.0550,0.720000,0.003140,0.0604,0.197,108.375,4,298933,2022
1,As It Was,Harry Styles,91,As It Was,96,0.520,0.731,-5.338,0,6,0.0557,0.342000,0.001010,0.3110,0.662,173.930,4,167303,2022
2,Sunroof,Nicky Youre,73,Sunroof,44,0.768,0.716,-5.110,1,10,0.0404,0.350000,0.000000,0.1500,0.841,131.430,4,163026,2022
3,Heat Waves,Glass Animals,80,Dreamland (+ Bonus Levels),89,0.761,0.525,-6.900,1,11,0.0944,0.440000,0.000007,0.0921,0.531,80.870,4,238805,2022
4,About Damn Time,Lizzo,81,About Damn Time,92,0.836,0.743,-6.305,0,10,0.0656,0.099500,0.000000,0.3350,0.722,108.966,4,191822,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,The Less I Know The Better,Tame Impala,78,Currents,84,0.640,0.740,-4.083,1,4,0.0284,0.011500,0.006780,0.1670,0.785,116.879,4,216320,2022
259,Dandelions,Ruth B.,75,Safe Haven,90,0.609,0.692,-2.958,1,1,0.0259,0.015700,0.000000,0.0864,0.454,116.959,3,233720,2022
260,Jimmy Cooks (feat. 21 Savage),Drake,95,"Honestly, Nevermind",92,0.529,0.673,-4.711,1,0,0.1750,0.000307,0.000002,0.0930,0.366,165.921,4,218365,2022
261,Good Looking,Suki Waterhouse,64,Good Looking,80,0.377,0.558,-9.076,1,4,0.0299,0.078900,0.000342,0.1250,0.267,149.971,3,214800,2022
262,INFERNO,Sub Urban,67,INFERNO,71,0.820,0.611,-5.020,0,9,0.1220,0.076600,0.000025,0.0684,0.637,127.883,4,133134,2022

In [ ]:
tt22 = tt22[['track_name', 'artist_name', 'year']]
tt22.head()

                               track_name    artist_name  year
0  Running Up That Hill (A Deal With God)      Kate Bush  2022
1                               As It Was   Harry Styles  2022
2                                 Sunroof    Nicky Youre  2022
3                              Heat Waves  Glass Animals  2022
4                         About Damn Time          Lizzo  2022

In [ ]:
tt22.merge(tt21, how='left', on=['track_name','artist_name']).rename(columns={'year_x':'ano_1','year_y':'ano_2'})

                                 track_name      artist_name  ano_1   ano_2
0    Running Up That Hill (A Deal With God)        Kate Bush   2022     NaN
1                                 As It Was     Harry Styles   2022     NaN
2                                   Sunroof      Nicky Youre   2022     NaN
3                                Heat Waves    Glass Animals   2022  2021.0
4                           About Damn Time            Lizzo   2022     NaN
..                                      ...              ...    ...     ...
258              The Less I Know The Better      Tame Impala   2022     NaN
259                              Dandelions          Ruth B.   2022  2021.0
260           Jimmy Cooks (feat. 21 Savage)            Drake   2022     NaN
261                            Good Looking  Suki Waterhouse   2022     NaN
262                                 INFERNO        Sub Urban   2022  2021.0

[263 rows x 4 columns]

In [ ]:
novo_arquivo = tt22.merge(tt21, how='inner', on=['track_name','artist_name']).rename(columns={'year_x':'ano_1','year_y':'ano_2'})

In [ ]:
novo_arquivo

,track_name,artist_name,ano_1,ano_2
0,Heat Waves,Glass Animals,2022,2021
1,STAY (with Justin Bieber),The Kid LAROI,2022,2021
2,abcdefu,GAYLE,2022,2021
3,MIDDLE OF THE NIGHT,Elley Duhé,2022,2021
4,INDUSTRY BABY (feat. Jack Harlow),Lil Nas X,2022,2021
5,TO THE MOON,Jnr Choi,2022,2021
6,love nwantiti (ah ah ah),CKay,2022,2021
7,Bad Habits,Ed Sheeran,2022,2021
8,MONTERO (Call Me By Your Name),Lil Nas X,2022,2021
9,Build a Bitch,Bella Poarch,2022,2021
10,SAD GIRLZ LUV MONEY Remix (feat. Kali Uchis an...,Amaarae,2022,2021
11,THATS WHAT I WANT,Lil Nas X,2022,2021
12,Life Goes On,Oliver Tree,2022,2021
13,Dinero,Trinidad Cardona,2022,2021
14,edamame (feat. Rich Brian),bbno$,2022,2021
15,Woman,Doja Cat,2022,2021
16,Leave The Door Open,Bruno Mars,2022,2021
17,Kiss Me More (feat. SZA),Doja Cat,2022,2021
18,Beggin',Måneskin,2022,2021
19,good 4 u,Olivia Rodrigo,2022,2021
20,Jalebi Baby (Tesher x Jason Derulo),Tesher,2022,2021
21,Astronaut In The Ocean,Masked Wolf,2022,2021
22,Need to Know,Doja Cat,2022,2021
23,MONEY,LISA,2022,2021
24,Pumped Up Kicks,Madism,2022,2021
25,Peaches (feat. Daniel Caesar & Giveon),Justin Bieber,2022,2021
26,positions,Ariana Grande,2022,2021
27,Bundles (feat. Taylor Girlz),Kayla Nicole,2022,2021
28,Calling My Phone,Lil Tjay,2022,2021
29,You Right,Doja Cat,2022,2021
30,Electric Love,BØRNS,2022,2021
31,Mood (feat. iann dior),24kGoldn,2022,2021
32,drivers license,Olivia Rodrigo,2022,2021
33,The Business,Tiësto,2022,2021
34,motive (with Doja Cat),Ariana Grande,2022,2021
35,Good Days,SZA,2022,2021
36,What You Know Bout Love,Pop Smoke,2022,2021
37,Savage Love (Laxed - Siren Beat),Jawsh 685,2022,2021
38,dirty laundry,blackbear,2022,2021
39,34+35,Ariana Grande,2022,2021
40,Play Date,Melanie Martinez,2022,2021
41,Be Kind (with Halsey),Marshmello,2022,2021
42,Say So,Doja Cat,2022,2021
43,hot girl bummer,blackbear,2022,2021
44,Dandelions,Ruth B.,2022,2021
45,INFERNO,Sub Urban,2022,2021

In [ ]:
novo_arquivo.to_csv('sample_data/musicas_que_bombaram.csv', encoding='UTF-8', sep=',')

#Atividade

**Questão 1 -** Consultar duas base de dados da Netflix para descobrir quais filmes e séries são mais populares no mundo e também no Brasil.
*   Lista dos mais populares: https://top10.netflix.com/data/most-popular.xlsx
*   Lista dos mais populares por Países: https://top10.netflix.com/data/all-weeks-countries.xlsx

In [ ]:
import pandas as pd

In [ ]:
netflix_most_popular = pd.read_excel('https://top10.netflix.com/data/most-popular.xlsx')
netflix_most_popular.head(10)

/usr/local/lib/python3.7/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,category,rank,show_title,season_title,hours_viewed_first_28_days
0,Films (English),1,Red Notice,NaN,364020000
1,Films (English),2,Don't Look Up,NaN,359790000
2,Films (English),3,Bird Box,NaN,282020000
3,Films (English),4,The Gray Man,NaN,253870000
4,Films (English),5,The Adam Project,NaN,233160000
5,Films (English),6,Extraction,NaN,231340000
6,Films (English),7,Purple Hearts,NaN,228690000
7,Films (English),8,The Unforgivable,NaN,214700000
8,Films (English),9,The Irishman,NaN,214570000
9,Films (English),10,The Kissing Booth 2,NaN,209250000

In [ ]:
netflix_countries = pd.read_excel('https://top10.netflix.com/data/all-weeks-countries.xlsx')
netflix_countries.head(10)

/usr/local/lib/python3.7/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,country_name,country_iso2,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10
0,Argentina,AR,2022-09-04,Films,1,Loving Adults,NaN,2
1,Argentina,AR,2022-09-04,Films,2,I Came By,NaN,1
2,Argentina,AR,2022-09-04,Films,3,Me Time,NaN,2
3,Argentina,AR,2022-09-04,Films,4,Love in the Villa,NaN,1
4,Argentina,AR,2022-09-04,Films,5,Under Her Control,NaN,1
5,Argentina,AR,2022-09-04,Films,6,That's Amor,NaN,2
6,Argentina,AR,2022-09-04,Films,7,Trash,NaN,1
7,Argentina,AR,2022-09-04,Films,8,Dark Waters,NaN,1
8,Argentina,AR,2022-09-04,Films,9,Rise of the Legend,NaN,1
9,Argentina,AR,2022-09-04,Films,10,Look Both Ways,NaN,3

In [ ]:
netflix_countries['country_name'].unique()

array(['Argentina', 'Australia', 'Austria', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Belgium', 'Bolivia', 'Brazil', 'Bulgaria', 'Canada',
       'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Dominican Republic', 'Ecuador',
       'Egypt', 'El Salvador', 'Estonia', 'Finland', 'France', 'Germany',
       'Greece', 'Guadeloupe', 'Guatemala', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Kuwait', 'Latvia',
       'Lebanon', 'Lithuania', 'Luxembourg', 'Malaysia', 'Maldives',
       'Malta', 'Martinique', 'Mauritius', 'Mexico', 'Morocco',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Réunion', 'Saudi Arabia', 'Serbia', 'Singapore',
       'Slovakia', 'Slovenia', 'South Africa', 'South Korea', 'Spain',
       'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'Trinidad and Tobago', 'Turkey', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Venezuela',
       'Vietnam'], dtype=object)

In [ ]:
populares_brasil = netflix_countries[netflix_countries['country_name'] == 'Brazil']
populares_brasil.head(10)

,country_name,country_iso2,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10
9920,Brazil,BR,2022-09-04,Films,1,Fenced In,NaN,1
9921,Brazil,BR,2022-09-04,Films,2,Loving Adults,NaN,2
9922,Brazil,BR,2022-09-04,Films,3,Love in the Villa,NaN,1
9923,Brazil,BR,2022-09-04,Films,4,Me Time,NaN,2
9924,Brazil,BR,2022-09-04,Films,5,I Came By,NaN,1
9925,Brazil,BR,2022-09-04,Films,6,Under Her Control,NaN,1
9926,Brazil,BR,2022-09-04,Films,7,Hanna,NaN,1
9927,Brazil,BR,2022-09-04,Films,8,That's Amor,NaN,2
9928,Brazil,BR,2022-09-04,Films,9,Look Both Ways,NaN,3
9929,Brazil,BR,2022-09-04,Films,10,The Next 365 Days,NaN,3

In [ ]:
populares_brasil = netflix_most_popular.merge(populares_brasil, how="inner", on='show_title')

In [ ]:
populares_brasil.shape

(245, 12)

In [ ]:
populares_brasil['show_title'].unique()

array(['Red Notice', "Don't Look Up", 'The Gray Man', 'The Adam Project',
       'Purple Hearts', 'The Unforgivable', 'Blood Red Sky', 'Black Crab',
       'Through My Window', 'The Takedown', 'Carter',
       'The Forgotten Battle', 'Restless', 'Stranger Things',
       'Bridgerton', 'Lucifer', 'The Witcher', 'Inventing Anna', 'Ozark',
       'Squid Game', 'Money Heist', 'All of Us Are Dead',
       'Extraordinary Attorney Woo', 'Café con aroma de mujer', 'Lupin',
       'Elite', 'Who Killed Sara?'], dtype=object)